<%- include("templates/cabecera", {cabecera: 'Inicio' }) %>
    <div class="container">
        <a class="btn btn-success btn-block my-4" href="/pokemon">Pokédex</a>
        <a class="btn btn-success btn-block my-4" href="/entrenador">Lista de entrenadores</a>
    </div>
<%- include("templates/footer") %>