<%- include("templates/cabecera", {cabecera: 'Inicio' }) %>
    <div class="container">
        <h1>Bienvenido/a a la bases de datos de Pokémon</h1>
        <div class="row">
            <div class="col-6"><a class="btn btn-success btn-block my-4" href="/pokemon">Pokédex</a></div>
            <div class="col-6"><a class="btn btn-success btn-block my-4" href="/entrenador">Lista de entrenadores</a></div>
        </div>
        
        
    </div>
<%- include("templates/footer") %>